{% extends 'layout.html' %}

{% block content %}
    <h1>Дашборд</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Общее количество пользователей</h5>
                    <p class="card-text">{{ total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Общее количество транзакций</h5>
                    <p class="card-text">{{ total_transactions }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Общее количество сегодня</h5>
                    <p class="card-text">{{ total_amount_today }}</p>
                </div>
            </div>
        </div>
    </div>

    <h2>Недавние транзакции</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in recent_transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
