{% extends 'layout.html' %}

{% block content %}
    <h1>Детали транзакции</h1>
    <p>ID: {{ transaction.id }}</p>
    <p>Сумма: {{ transaction.amount }}</p>
    <p>Комиссия: {{ transaction.commission }}</p>
    <p>Статус: {{ transaction.status }}</p>
    <p>Время создания: {{ transaction.create_at }}</p>

    <form method="POST">
        <div class="form-group">
            <label for="status">Смена статуса</label>
            <select name="status" class="form-control" id="status">
                <option value="Confirmed" {% if transaction.status == 'Confirmed' %}selected{% endif %}>Подтверждено</option>
                <option value="Cancelled" {% if transaction.status == 'Cancelled' %}selected{% endif %}>Отменить</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Обновить статус</button>
    </form>
{% endblock %}
