{% extends 'layout.html' %}

{% block content %}
    <h1>Детали транзакции</h1>
    <p>ID: {{ transaction.id }}</p>
    <p>Сумма: {{ transaction.amount }}</p>
    <p>Статус: {{ transaction.status }}</p>

    <form method="POST">
        <div class="form-group">
            <label for="status">Change Status</label>
            <select name="status" class="form-control">
                <option value="confirmed" {% if transaction.status == 'confirmed' %}selected{% endif %}>Подтвердить
                </option>
                <option value="canceled" {% if transaction.status == 'canceled' %}selected{% endif %}>Отменить</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Обновить статус</button>
    </form>
{% endblock %}
